* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5d061;
    color: #000000;
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-size: 35px;
    font-weight: 700;
    margin: 2% 5%;
}

.homepage {
    text-decoration: none;
    color: #000000;
    background-color: #f8f6f6;
    padding: 5px 56px;
    border: 2px solid black;
}

.homepage:hover {
    color: #f8f6f6;
    background-color: #000000;
    border: 2px solid #f8f6f6;

}

.nav-link, .back-top {
    margin: 1%;
    color: black;
    text-transform: uppercase;
    background-color: #f8f6f6;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    border: 2px solid black;
}

.nav-link:hover, .back-top:hover {
    color: #f8f6f6;
    background-color: #000000;
    border: 2px solid #f8f6f6;
}

ul {
    list-style-type: none;
}

.list-item {
    margin: 20px 60px;
    width: 25%;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin: 15% 30% 3% 30%;
    color: #f8f6f6;
    background-color: black;
    padding: 1% 0;
    border: 2px solid #f8f6f6;
}

p {
    margin: 0 10%;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

article {
    background-color: white;
    margin: 0 7%;
    padding: 3% 0;
    border: 2px solid black;
}

.js {
    margin: 3% 17%;
    list-style-type: inherit;
    font-size: 20px;
    line-height: 1.5;
}

.bottom-list-item {
    text-align: center;
    margin: 1%;
    font-size: 20px;
    line-height: 1.5;
}
.output {
    margin: 0 6%;
}
.output-img {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

code {
    font-size: 20px;
}

.last-list-item {
    margin: 7%;
    width: 25%;
}

.p-end {
    font-size: 15px;
}

footer {
    margin-bottom: 3%;
}


@media only screen and (max-width: 600px) {
    
    html, body {
        min-width: 100%;
    }
    #navbar {
        background-image: none;
    }
    #back-top {
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 20px;
        margin: 5% 8%;
    }
    .homepage {
        padding: 5px 40px;
    }
    .list-item {
        width: 70%;
        margin: 0 15%;
    }
    .nav-link, .back-top {
        font-size: 14px;
        text-align: center;
    }
    h2 {
        font-size: 18px;
        margin: 10% 30% 3% 30%;
    }
    article {
        margin: 0 1%;
        padding: 1% 0;
        border: none;
    }
    p {
        margin: 2% 2%;
        font-size: 14px;
        text-align: justify;
    }
    .js {
        font-size: 14px;
    }
    code {
        font-size: 14px;
    }
    .bottom-list-item {
        font-size: 14px;
    }
    .output {
        margin: 0 6%;
    }
    .output-img {
        width: 85%;
    }
    .p-end {
        font-size: 10px;
        text-align: center;
        margin: 0;
    }
    #main-doc, h2, a {
        overflow: hidden;
    }

}


@media only screen and (min-width: 601px) {
    #navbar {
        background-image: url(https://github.com/ninogogol/Technical_Documentation_Page_JS/blob/main/programming.png?raw=true);
        background-position: 100% 189%;
        background-repeat: no-repeat;
        background-size: 490px;
    }
}

@media only screen and (min-width: 992px) {
    #navbar {
        background-image: url("https://github.com/ninogogol/Technical_Documentation_Page_JS/blob/main/programming.png?raw=true");
        background-position: 87% 58%;
        background-repeat: no-repeat;
        background-size: 600px;
    }
}
